.idea
*.iml
out
gen
# database
/db/*
/certs/ca.*
/certs/jwtkey*
/certs/service*

/uploads/*
!/uploads/logs
!/uploads/temp
!/uploads/index.html

#allvars.env

# secret services
/goservices/gowebbackend/*
!/goservices/gowebbackend/Dockerfile
!/goservices/gowebbackend/gowebbackend

/goservices/gpics/*
!/goservices/gpics/Dockerfile
!/goservices/gpics/gpics
